<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>application-identifier</key>
	<string>chaoge.ChargeLimiter</string>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.private.powersource-read</key>
	<true/>
	<key>com.apple.private.powersource-write</key>
	<true/>
	<key>com.apple.private.powersource-write-all</key>
	<true/>
	<key>com.apple.private.applesmartbattery-smcdatastream</key>
	<true/>
	<key>com.apple.private.security.container-manager</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.storage.AppBundles</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOUserClient</string>
	</array>
	<key>com.apple.system-task-ports</key>
    <true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>preferences.plist</string>
		<string>com.apple.radios.plist</string>
		<string>com.apple.jetsam.plist</string>
	</array>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.batterysaver.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.backboard.displaybrightness</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.powerd.lowpowermode.allow</key>
	<true/>
	<key>com.apple.springboard.accessibility-window-hosting</key>
	<true/>
</dict>
</plist>