<!DOCTYPE html>
<html lang="en">

<head>
  <title>AlDente</title>
  <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=0">
  <link rel="shotcut icon" href="favicon.ico" />
  <link rel="icon" href="favicon.ico">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="css/element-ui.css" />
  <link type="text/css" rel="stylesheet" href="css/font-awesome.css" />
  <script src="js/polyfill.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/vue-i18n.js"></script>
  <script src="js/element-ui.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/app.js"></script>
  <style>
    html, body, #app, #main_page {
      height: 100%;
      overflow-y: hidden;
    }

    #page_body {
      height: 100%;
      overflow-y: scroll;
    }

    body {
      background-color: rgb(239, 239, 244);
    }

    #page_footer {
      background-color: rgb(245, 245, 247);
      width: 100%;
      bottom: 0;
      z-index: 1;
    }

    #page_header {
      background-color: rgb(245, 245, 247);
      width: 100%;
      top: 0;
      z-index: 1;
    }

    #page_message {   /* 消息覆盖编辑器 */
      position: fixed;
      width: 100%;
      top: 50px;
      z-index: 3;
    }

    .page_title {
      width: 100%;
      text-align: center;
      line-height: 30px;
      font-size: 20px;
    }

    .active {
      color: #409EFF;
    }

    .hide {
      visibility: hidden;
    }

    .el-card__body {
      padding: 5px 25px 5px 25px;
    }

    .el-message-box {
      width: 90%;
    }

    .el-popover {
      left: 5% !important;
      width: 90%;
    }

    .el-slider__marks-text {
      font-size: 10px !important;
    }

    .more {
      text-align: center;
    }

    .page-icon-sm {
      font-size: 20px;
    }

    .page-icon {
      font-size: 25px;
    }

    .page-icon-container {
      font-size: 10px;
      width: 30px;
      margin: auto;
    }

    .right {
      float: right;
    }

    .click {
      color: #409EFF;
    }

    .wordwrap { 
      white-space: pre-wrap;      /* CSS3 */   
      white-space: -moz-pre-wrap; /* Firefox */    
      white-space: -pre-wrap;     /* Opera <7 */   
      white-space: -o-pre-wrap;   /* Opera 7 */    
      word-wrap: break-word;      /* IE */
    }

    .subtitle {
      color: grey;
      font-size: 13px
    }

    .col-item {
      background-color: white;
    }
  </style>
</head>

<body>
  <div id="app">
    <div id="main_page">
      <div id="page_header">
        <el-row class="mx-2 py-2">
          <div class="page_title">
            <el-col :span="8">&nbsp;</el-col>
            <el-col :span="8">{{title}}</el-col>
            <el-col :span="8" style="text-align: left;">
              <span class="subtitle">v1.1</span>
            </el-col>
          </div>
        </el-row>
      </div>
      <div class=""></div>
      <el-divider class="my-0" direction="horizontal"></el-divider>
      <div id="page_message">
        <div v-for="i in msg_list" class="my-1">
          <el-alert :bind_data="i.id" :title="i.title" :type="i.type" v-timeout="i.time" show-icon>
          </el-alert>
        </div>
      </div>
      <div id="page_body" v-loading="loading">
        <el-row class="p-2 mt-2">
          <el-label>{{$t("setting")}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("start_serv")}}</el-label>
            <el-switch :value="daemon_alive" class="right" @change="set_daemon_status"></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("lang")}}</el-label>
            <el-select v-model="i18n.locale" size="mini" class="right" style="width:50%" @change="change_lang">
              <el-option v-for="i in Object.keys(i18n.messages)" :key="i" :label="i18n.messages[i].label" :value="i"></el-option>
            </el-select>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("mode")}}</el-label>
            <el-tooltip class="item" effect="dark" :content="$t(mode+'_desc')">
              <span class="el-icon-warning-outline page-icon-sm"></span>
            </el-tooltip>
            <el-select v-model="mode" size="mini" class="right" style="width:50%" @change="change_mode">
              <el-option v-for="i in modes" :key="i.value" :label="i.label" :value="i.value"></el-option>
            </el-select>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("update_freq")}}</el-label>
            <el-select v-model="update_freq" size="mini" class="right" style="width:50%" @change="change_update_freq">
              <el-option v-for="i in freqs" :key="i.value" :label="i.label" :value="i.value"></el-option>
            </el-select>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <template v-if="mode=='edge_trigger'">
            <el-row class="px-3 py-2 col-item">
              <el-col></el-col>
              <el-label>{{$t("charge_below")}}</el-label>
              <el-slider v-model="charge_below" class="pr-1" :min="0" :max="80" :step="5" :marks="marks_perc" @change="set_charge_below"></el-slider>
            </el-row>
            <el-divider class="my-0" direction="horizontal"></el-divider>
          </template>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("nocharge_above")}}</el-label>
            <el-slider v-model="charge_above" class="pr-1" :min="charge_below+5" :max="100" :step="5" :marks="marks_perc" @change="set_charge_above"></el-slider>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("nocharge_temp_above")}}</el-label>
            <el-switch :value="enable_temp" class="right" @change="set_enable_temp"></el-switch>
            <el-slider v-model="charge_temp_above" class="pr-1" :min="20" :max="50" :step="5" :marks="marks_temp" @change="set_charge_temp_above"></el-slider>
          </el-row>
        </div>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div v-if="bat_info">
          <el-row class="p-2 mt-2">
            <el-label>{{$t("batinfo")}}
              <span class="right subtitle">{{$t("UpdateAt")+' '+ts_to_date(bat_info.UpdateTime)}}</span>
            </el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-col :span="12">
              <el-label>{{$t("CurrentCapacity")}}
              </el-label>
            </el-col>
            <el-col :span="12">
              <el-progress :text-inside="true" :stroke-width="24" :percentage="bat_info.CurrentCapacity" status="success"></el-progress>
            </el-col>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-col :span="12">
              <el-label>{{$t("Health")}}</el-label>
            </el-col>
            <el-col :span="12">
              <el-progress :text-inside="true" :stroke-width="24" :percentage="get_health(bat_info)"></el-progress>
            </el-col>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-col :span="12">
              <el-label>{{$t("Temperature")}}</el-label>
            </el-col>
            <el-col :span="12">
              <el-progress :text-inside="true" :stroke-width="24" :percentage="bat_info.Temperature/100+30" :format="x=>bat_info.Temperature/100+'°C'"></el-progress>
            </el-col>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item click">
            <el-label>{{$t("IsCharging")}}</el-label>
            <el-tooltip class="item" effect="dark" :content="$t('charge_btn_desc')">
              <span class="el-icon-warning-outline page-icon-sm"></span>
            </el-tooltip>
            <el-switch :value="bat_info.IsCharging" class="right" @change="set_charge_status"></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("BatteryInstalled")}}</el-label>
            <el-switch :value="bat_info.BatteryInstalled" class="right" disabled></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("CycleCount")}}</el-label>
            <el-label class="right">{{bat_info.CycleCount}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("DesignCapacity")}}</el-label>
            <el-label class="right">{{bat_info.DesignCapacity}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("NominalChargeCapacity")}}</el-label>
            <el-label class="right">{{bat_info.NominalChargeCapacity}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("InstantAmperage")}}</el-label>
            <el-label class="right">{{bat_info.InstantAmperage}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("BootVoltage")}}</el-label>
            <el-label class="right">{{bat_info.BootVoltage/1000}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("Voltage")}}</el-label>
            <el-label class="right">{{bat_info.Voltage/1000}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("Serial")}}</el-label>
            <el-label class="right">{{bat_info.Serial}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
        </div>
        <el-row class="p-2 mt-2">
          <el-label>{{$t("adaptorinfo")}}</el-label>
        </el-row>
        <div v-if="adaptor_info">
          <template v-if="adaptor_info.Manufacturer">
            <el-row class="px-3 py-2 col-item">
              <el-label>{{$t("Manufacturer")}}</el-label>
              <el-label class="right">{{adaptor_info.Manufacturer}}</el-label>
            </el-row>
            <el-divider class="my-0" direction="horizontal"></el-divider>
          </template>
          <template v-if="adaptor_info.Name">
            <el-row class="px-3 py-2 col-item">
              <el-label>{{$t("Name")}}</el-label>
              <el-label class="right">{{adaptor_info.Name}}</el-label>
            </el-row>
            <el-divider class="my-0" direction="horizontal"></el-divider>
          </template>
          <template v-if="adaptor_info.Description">
            <el-row class="px-3 py-2 col-item">
              <el-label>{{$t("Description")}}</el-label>
              <el-label class="right">{{$t(adaptor_info.Description)+'('+adaptor_info.Description+')'}}</el-label>
            </el-row>
          </template>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("ExternalChargeCapable")}}</el-label>
            <el-switch :value="bat_info.ExternalChargeCapable" class="right" disabled></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("ExternalConnected")}}</el-label>
            <el-switch :value="bat_info.ExternalConnected" class="right" disabled></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("WirelessCharge")}}</el-label>
            <el-switch :value="bat_info.IsWireless" class="right" disabled></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("AdapterVoltage")}}</el-label>
            <el-label class="right">{{adaptor_info.AdapterVoltage/1000}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("Current")}}</el-label>
            <el-label class="right">{{adaptor_info.Current}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="px-3 py-2 col-item">
            <el-label>{{$t("Watts")}}</el-label>
            <el-label class="right">{{adaptor_info.Watts}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
        </div>
        <div class="py-5"></div>
      </div>
    </div>
  </div>
</body>
</html>

