<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChargeLimiter</title>
  <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shotcut icon" href="favicon.ico" />
  <link rel="icon" href="favicon.ico">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="css/element-ui.css" />
  <link type="text/css" rel="stylesheet" href="css/font-awesome.css" />
  <script src="js/polyfill.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/vue-i18n.js"></script>
  <script src="js/element-ui.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/app.js"></script>
  <style>
    .night {
        background: #000 !important;
        color: #afafaf !important;
    }
    .night #page_header {
      background: #000 !important;
      color: #afafaf !important;
    }
    .night .box {
      background: #1c1c1c !important;
      color: #afafaf !important;
    }
    .night .col-item {
      background: #222222 !important;
      color: #afafaf !important;
    }
    .night .el-card {
      background: #222222 !important;
      color: #afafaf !important;
      border-color: #222222 !important;
    }
    .night .el-input__inner {
      background: #1c1c1c !important;
      color: #afafaf !important;
    }
    .night .el-scrollbar__view {
      background: #1c1c1c !important;
      color: #afafaf !important;
    }
    .night .el-divider--horizontal {
      background: #404040 !important;
    }
    .night .selected {
      background: #1c1c1c !important;
      color: #afafaf !important;
    }
    .night .el-switch__core {
      background: #39383d !important;
    }
    .night  .el-switch.is-checked .el-switch__core {
      background-color: #409EFF !important;
    }
    .night .el-progress-bar__outer {
      background: #39383d !important;
    }
    
    html, body, #app {
      height: 100%;
      overflow-y: hidden;
    }
      
    div, el-label, .el-select > .el-input > .el-input__inner, .el-switch, .el-select {
      -webkit-user-select: none;
      -webkit-overflow-scrolling: touch;
    }

    [v-cloak] {
      display: none;
    }
    
    body, a {
      -webkit-user-select: auto;
      -webkit-overflow-scrolling: touch;
    }

    #page_body {
      height: 100%;
      overflow-y: scroll;
    }

    body {
      background-color: rgb(239, 239, 244);
    }

    #page_header {
      background-color: rgb(245, 245, 247);
      width: 100%;
    }

    #page_message {   /* 消息覆盖编辑器 */
      position: fixed;
      width: 100%;
      top: 50px;
      z-index: 3;
    }

    .page_title {
      width: 100%;
      text-align: center;
      line-height: 30px;
      font-size: 20px;
    }

    .active {
      color: #409EFF;
    }

    .hide {
      visibility: hidden;
    }

    .page-icon-sm {
      font-size: 20px;
    }

    .page-icon {
      font-size: 25px;
    }

    .right {
      float: right;
    }

    .click {
      color: #409EFF;
    }

    .subtitle {
      color: grey;
      font-size: 13px
    }

    .subsubbtitle {
      color: grey;
      font-size: 10px
    }

    .col-item {
      background-color: white;
    }

    .submenu {
      margin-left: 20px;
      font-size: 13px;
    }

    .subsubmenu {
      margin-left: 20px;
      font-size: 10px;
    }

    .input_number > .el-col > .el-row > .el-input-number {
      width: 120px;
    }

    .input_number > .el-input-number {
      width: 140px;
    }

    .el-card {
      border-radius: 15px;
    }

    .el-card__body {
      padding: 5px;
    }

    .el-dialog__body {
      padding: 0px;
    }

    .el-progress-bar__inner {
      text-align: left !important;
    }

    .el-slider__marks-text {
      font-size: 8px !important;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <div id="page_header">
      <el-row class="mx-2 py-2">
        <div class="page_title">
          <el-col :span="8">
            <i class="fa fa-safari pr-4" v-if="window.source=='CL'" @click="open_safari"></i>
            <i class="fa fa-moon-o" v-if="dark" @click="switch_dark(false)"></i>
            <i class="fa fa-sun-o" v-else @click="switch_dark(true)"></i>
          </el-col>
          <el-col :span="8">{{title}}</el-col>
          <el-col :span="8" style="text-align:center;">
            <span class="subtitle">{{"v"+ver}}</span>
          </el-col>
        </div>
      </el-row>
    </div>
    <el-divider class="my-0" direction="horizontal"></el-divider>
    <div id="page_message">
      <div v-for="i in msg_list" class="my-1">
        <el-alert :bind_data="i.id" :title="i.title" :type="i.type" v-timeout="i.time" show-icon>
        </el-alert>
      </div>
    </div>
    <div id="page_body" v-loading="loading">
      <el-row class="mx-4 px-1 pt-2">
        <span class="subtitle">{{$t("setting")}}</span>
        <span :class="['el-icon-'+(show_tips['setting']?'remove':'circle-plus'),'page-icon-sm','right']" @click="show_tips['setting']=!show_tips['setting']"></span>
      </el-row>
      <el-card class="box-card mx-3 mb-2 px-2" shadow="never" v-if="show_tips['setting']">
        <el-row class="py-2 col-item">
          <el-label>{{$t("enable")}}</el-label>
          <el-switch :value="enable" class="right" @change="set_enable"></el-switch>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div class="py-2 col-item">
          <el-row>
            <el-label>{{$t("floatwnd")}}</el-label>
            <span class="el-icon-warning-outline page-icon-sm" @click="show_tips['floatwnd_auto']=!show_tips['floatwnd_auto'];"></span>
            <el-switch :value="floatwnd" class="right" @change="set_floatwnd"></el-switch>
          </el-row>
          <el-row class="mt-2 subtitle" v-if="show_tips['floatwnd_auto']">
            <el-label>{{$t("autohide")}}</el-label>
            <el-switch :value="floatwnd_auto" class="right" @change="set_floatwnd_auto"></el-switch>
          </el-row>
        </div>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("lang")}}</el-label>
          <el-select v-model="i18n.locale" size="mini" class="right" style="width:140px" @change="change_lang">
            <el-option v-for="i in Object.keys(i18n.messages)" :key="i" :label="i18n.messages[i].label" :value="i"></el-option>
          </el-select>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div class="py-2 col-item">
          <el-row>
            <el-label>{{$t("mode")}}</el-label>
            <span class="el-icon-warning-outline page-icon-sm" @click="show_tips['mode']=!show_tips['mode']"></span>
            <el-select v-model="mode" size="mini" class="right" style="width:140px" @change="change_mode">
              <el-option v-for="i in modes" :key="i.value" :label="i.label" :value="i.value"></el-option>
            </el-select>
          </el-row>
          <el-row class="subtitle" v-if="show_tips['mode']">
            {{$t(mode+'_desc')}}
          </el-row>
        </div>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div class="py-2 col-item">
          <el-row>
            <el-label>{{$t("update_freq")}}</el-label>
            <span class="el-icon-warning-outline page-icon-sm" @click="show_tips['update']=!show_tips['update']"></span>
            <el-select v-model="update_freq" size="mini" class="right" style="width:140px" @change="change_update_freq">
              <el-option v-for="i in freqs" :key="i.value" :label="i.label" :value="i.value"></el-option>
            </el-select>
          </el-row>
          <el-row class="subtitle" v-if="show_tips['update']">
            {{$t('update_freq_desc')}}
          </el-row>
        </div>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item input_number">
          <el-col :span="12">
            <el-row><el-label>{{$t("start_charge")}}</el-label></el-row>
            <el-row><el-label class="submenu">{{$t("CurrentCapacity")}} ≤</el-label></el-row>
          </el-col>
          <el-col :span="12" class="mt-3">
            <el-row class="right">
              <el-input-number v-model="charge_below" size="mini" :min="5" :max="80" :step="5" @change="set_charge_below"></el-input-number>
              %
            </el-row>
          </el-col>
        </el-row>
        <el-row class="py-2 col-item input_number">
          <el-col :span="12">
            <el-row><el-label>{{$t("stop_charge")}}</el-label></el-row>
            <el-row><el-label class="submenu">{{$t("CurrentCapacity")}} ≥</el-label></el-row>
          </el-col>
          <el-col :span="12" class="mt-3">
            <el-row class="right">
              <el-input-number v-model="charge_above" size="mini" :min="charge_below+5" :max="100" :step="5" @change="set_charge_above"></el-input-number>
              %
            </el-row>
          </el-col>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("temp_ctrl")}}</el-label>
          <el-switch :value="enable_temp" class="right" @change="set_enable_temp"></el-switch>
        </el-row>
        <template v-if="enable_temp">
          <el-row class="pb-2 col-item input_number">
            <el-col :span="10">
              <el-row><el-label class="submenu">{{$t("stop_charge")}}</el-label></el-row>
              <el-row><el-label class="submenu">{{$t("Temperature")}} ≥</el-label></el-row>
            </el-col>
            <el-col :span="14" class="mt-3">
              <el-row class="right">
                <el-input-number style="width:100px" v-model="charge_temp_above" size="mini" :min="20" :max="50" :step="1" @change="set_charge_temp_above"></el-input-number>
                <el-label style="font-size:10px">{{" = "+t_c_to_f(charge_temp_above).toFixed(0)+"°F"}}</el-label>
              </el-row>
            </el-col>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item" v-if="mode=='charge_on_plug'">
            <el-col :span="10">
              <el-row><el-label class="submenu">{{$t("start_charge")}}</el-label></el-row>
              <el-row><el-label class="submenu">{{$t("Temperature")}} ≤</el-label></el-row>
            </el-col>
            <el-col :span="14" class="mt-3">
              <el-row class="right">
                <el-input-number style="width:100px" v-model="charge_temp_below" size="mini" :min="10" :max="charge_temp_above-1" :step="1" @change="set_charge_temp_below"></el-input-number>
                <el-label style="font-size:10px">{{" = "+t_c_to_f(charge_temp_below).toFixed(0)+"°F"}}</el-label>
              </el-row>
            </el-col>
          </el-row>
        </template>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div class="py-2 col-item">
          <el-row>
            <el-label>{{$t("acc_charge")}}</el-label>
            <span class="el-icon-warning-outline page-icon-sm" @click="show_tips['acc']=!show_tips['acc']"></span>
            <el-switch :value="acc_charge" class="right" @change="set_acc_charge"></el-switch>
          </el-row>
          <el-row class="subtitle" v-if="show_tips['acc']">
            {{$t('acc_charge_desc')}}
          </el-row>
        </div>
        <template v-if="acc_charge">
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item">
            <el-label class="submenu">{{$t("acc_charge_airmode")}}</el-label>
            <el-switch :value="acc_charge_airmode" class="right" @change="set_acc_charge_airmode"></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item">
            <el-label class="submenu">{{$t("acc_charge_wifi")}}</el-label>
            <el-switch :value="acc_charge_wifi" class="right" @change="set_acc_charge_wifi"></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item">
            <el-label class="submenu">{{$t("acc_charge_lpm")}}</el-label>
            <el-switch :value="acc_charge_lpm" class="right" @change="set_acc_charge_lpm"></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item">
            <el-label class="submenu">{{$t("acc_charge_blue")}}</el-label>
            <el-switch :value="acc_charge_blue" class="right" @change="set_acc_charge_blue"></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item">
            <el-label class="submenu">{{$t("acc_charge_bright")}}</el-label>
            <el-switch :value="acc_charge_bright" class="right" @change="set_acc_charge_bright"></el-switch>
          </el-row>
        </template>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("action")}}</el-label>
          <el-select v-model="action" size="mini" class="right" style="width:140px" @change="change_action">
            <el-option v-for="i in actions" :key="i.value" :label="i.label" :value="i.value"></el-option>
          </el-select>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("adv")}}</el-label>
          <span :class="['el-icon-arrow-'+(enable_adv?'down':'right'),'page-icon','right']" @click="enable_adv=!enable_adv"></span>
        </el-row>
        <template v-if="enable_adv">
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item">
            <el-label class="submenu">{{$t("adv_prefer_smart")}}</el-label>
            <el-switch :value="use_smart" class="right" @change="set_use_smart"></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item">
            <el-label class="submenu">{{$t("adv_predictive_inhibit_charge")}}</el-label>
            <el-switch :value="adv_predictive_inhibit_charge" class="right" @change="set_predictive_inhibit_charge"></el-switch>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <el-row class="py-2 col-item">
            <el-label class="submenu">{{$t("adv_disable_inflow")}}</el-label>
            <el-switch :value="adv_disable_inflow" class="right" @change="set_disable_inflow"></el-switch>
          </el-row>
          <template v-if="adv_thermal_avail">
            <el-divider class="my-0" direction="horizontal"></el-divider>
            <div class="py-2 col-item">
              <el-row>
                <el-label class="submenu">{{$t("adv_thermal_simulate")}}</el-label>
                <span class="el-icon-warning-outline page-icon-sm" @click="show_tips['cuff']=!show_tips['cuff']"></span>
                <el-label class="submenu right">{{$t(thermal_simulate_mode)}}</el-label>
              </el-row>
              <el-row class="submenu subtitle" v-if="show_tips['cuff']">
                {{$t('adv_thermal_simulate_desc')}}
              </el-row>
              <el-row class="pt-1">
                <el-label class="submenu">{{$t("set")}}</el-label>
                <el-select v-model="adv_def_thermal_mode" size="mini" class="right" style="width:140px" @change="change_def_thermal_mode">
                  <el-option v-for="i in cuffmods" :key="i.value" :label="i.label" :value="i.value"></el-option>
                </el-select>
              </el-row>
            </div>
            <el-divider class="my-0" direction="horizontal"></el-divider>
            <div class="py-2 col-item">
              <el-row>
                <el-label class="submenu">{{$t("adv_ppm_simulate")}}</el-label>
                <span class="el-icon-warning-outline page-icon-sm" @click="show_tips['ppm']=!show_tips['ppm']"></span>
              </el-row>
              <el-row class="submenu subtitle" v-if="show_tips['ppm']">
                {{$t("adv_ppm_simulate_desc")}}
              </el-row>
              <el-row class="pt-1">
                <el-label class="submenu">{{$t("set")}}</el-label>
                <el-select v-model="ppm_simulate_mode" size="mini" class="right" style="width:140px" @change="change_ppm_mode">
                  <el-option v-for="i in cuffmods" :key="i.value" :label="i.label" :value="i.value"></el-option>
                </el-select>
              </el-row>
            </div>
            <el-divider class="my-0" direction="horizontal"></el-divider>
            <el-row class="py-2 col-item">
              <el-label class="submenu">{{$t("adv_limit_inflow")}}</el-label>
              <el-switch :value="adv_limit_inflow" class="right" @change="set_limit_inflow"></el-switch>
              <template v-if="adv_limit_inflow">
                <el-row class="col-item my-1">
                  <el-label class="subsubmenu">{{$t("adv_thermal_simulate")}}</el-label>
                  <el-select v-model="adv_limit_inflow_mode" size="mini" class="right" style="width:140px" @change="change_limit_inflow_mode">
                    <el-option v-for="i in cuffmods" :key="i.value" :label="i.label" :value="i.value"></el-option>
                  </el-select>
                </el-row>
              </template>
            </el-row>
          </template>
        </template>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div style="text-align: center;">
          <div class="my-2 click" @click="reset_conf">{{$t("reset")}}</div>
        </div>
      </el-card>  
      <el-row class="mx-4 px-1 pt-2">
        <span class="subtitle">{{$t("batinfo")}}</span>
        <span class="right subsubbtitle pt-2">{{$t("UpdateAt")+' '+ts_to_date(bat_info.UpdateTime)}}</span>
      </el-row>
      <el-card class="box-card mx-3 mb-2 px-2" shadow="never">
        <el-row class="py-2 col-item">
          <el-col :span="12">
            <el-label>{{$t("CurrentCapacity")}}
            </el-label>
          </el-col>
          <el-col :span="12">
            <el-progress :text-inside="true" :stroke-width="24" :percentage="bat_info.CurrentCapacity" color="#34c759" text-color="white"></el-progress>
          </el-col>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-col :span="12">
            <el-label>{{$t("Health")}}</el-label>
          </el-col>
          <el-col :span="12">
            <el-progress :text-inside="true" :stroke-width="24" :percentage="get_health(bat_info)" color="#4d7ffc" text-color="white"></el-progress>
          </el-col>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-col :span="12">
            <el-label>{{$t("Temperature")}}</el-label>
          </el-col>
          <el-col :span="12">
            <el-progress :text-inside="true" :stroke-width="24" :percentage="bat_info.Temperature/100+30" :format="get_temp_desc" color="#f8801b" text-color="white"></el-progress>
          </el-col>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div class="py-2 col-item">
          <el-row class="click">
            <el-label>{{$t("IsCharging")}}</el-label>
            <span class="el-icon-warning-outline page-icon-sm" @click="show_tips['charge']=!show_tips['charge']"></span>
            <el-switch :value="bat_info.IsCharging" class="right" @change="set_charge_status"></el-switch>
          </el-row>
          <el-row class="subtitle" v-if="show_tips['charge']">
            {{$t('charge_btn_desc')}}
          </el-row>
        </div>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("BatteryInstalled")}}</el-label>
          <el-switch :value="bat_info.BatteryInstalled" class="right" disabled></el-switch>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("CycleCount")}}</el-label>
          <el-label class="right">{{bat_info.CycleCount}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("DesignCapacity")}}</el-label>
          <el-label class="right">{{bat_info.DesignCapacity}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("NominalChargeCapacity")}}</el-label>
          <el-label class="right">{{bat_info.NominalChargeCapacity}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("HardwareCapacity")}}</el-label>
          <el-label class="right">{{get_hardware_capacity()}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("Amperage")}}</el-label>
          <el-label class="right">{{bat_info.Amperage}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("InstantAmperage")}}</el-label>
          <el-label class="right">{{bat_info.InstantAmperage}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("BootVoltage")}}</el-label>
          <el-label class="right">{{bat_info.BootVoltage/1000}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("Voltage")}}</el-label>
          <el-label class="right">{{bat_info.Voltage/1000}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("Serial")}}</el-label>
          <el-label class="right">{{bat_info.Serial}}</el-label>
        </el-row>
      </el-card>
      <el-row class="mx-4 px-1 pt-2">
        <span class="subtitle">{{$t("adaptorinfo")}}</span>
      </el-row>
      <el-card class="box-card mx-3 mb-2 px-2" shadow="never" v-if="adaptor_info">
        <template v-if="adaptor_info.Manufacturer">
          <el-row class="py-2 col-item">
            <el-label>{{$t("Manufacturer")}}</el-label>
            <el-label class="right">{{adaptor_info.Manufacturer}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
        </template>
        <template v-if="adaptor_info.Name">
          <el-row class="py-2 col-item">
            <el-label>{{$t("Name")}}</el-label>
            <el-label class="right">{{adaptor_info.Name}}</el-label>
          </el-row>
          <el-divider class="my-0" direction="horizontal"></el-divider>
        </template>
        <template v-if="adaptor_info.Description">
          <el-row class="py-2 col-item">
            <el-label>{{$t("Description")}}</el-label>
            <el-label class="right">{{get_adaptor_desc()}}</el-label>
          </el-row>
        </template>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("ExternalChargeCapable")}}</el-label>
          <el-switch :value="bat_info.ExternalChargeCapable" class="right" disabled></el-switch>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div class="py-2 col-item">
          <el-row class="click">
            <el-label>{{$t("ExternalConnected")}}</el-label>
            <span class="el-icon-warning-outline page-icon-sm" @click="show_tips['inflow']=!show_tips['inflow']"></span>
            <el-switch :value="bat_info.ExternalConnected" class="right" @change="set_inflow_status"></el-switch>
          </el-row>
          <el-row class="subtitle" v-if="show_tips['inflow']">
            {{$t('inflow_btn_desc')}}
          </el-row>
        </div>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("WirelessCharge")}}</el-label>
          <el-switch :value="bat_info.IsWireless" class="right" disabled></el-switch>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("Voltage")}}</el-label>
          <el-label class="right">{{adaptor_info.Voltage/1000}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("Current")}}</el-label>
          <el-label class="right">{{adaptor_info.Current}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("Watts")}}</el-label>
          <el-label class="right">{{adaptor_info.Watts}}</el-label>
        </el-row>
      </el-card>
      <el-row class="mx-4 px-1 pt-2">
        <span class="subtitle">{{$t("sysinfo")}}</span>
      </el-row>
      <el-card class="box-card mx-3 mb-2 px-2" shadow="never">
        <el-row class="py-2 col-item">
          <el-label>{{$t("sysver")}}</el-label>
          <el-label class="right">{{sysver}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("model")}}</el-label>
          <el-label class="right">{{get_devmodel_desc()}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("sysboot")}}</el-label>
          <el-label class="right">{{ts_to_date(sys_boot)}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <el-row class="py-2 col-item">
          <el-label>{{$t("servboot")}}</el-label>
          <el-label class="right">{{ts_to_date(serv_boot)}}</el-label>
        </el-row>
        <el-divider class="my-0" direction="horizontal"></el-divider>
        <div style="text-align: center;">
          <div class="my-2 click" @click="copy_to_pb">{{$t("copy_to_pb")}}</div>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <div class="my-2"><a href="/history.html">{{$t("view_hist")}}</a></div>
          <el-divider class="my-0" direction="horizontal"></el-divider>
          <div class="my-2"><a href="/help.html">{{$t("manual")}}</a></div>
        </div>
      </el-card>
      <el-row class="mx-4 px-1 pt-2">
        <el-row class="subtitle">
          <el-label>{{$t("author")}}</el-label>
          <span class="right noclick">lich4</span>
        </el-row>
        <el-row class="subtitle">
          <el-label>Github</el-label>
          <a href="https://github.com/lich4" class="right noclick">https://github.com/lich4</a>
        </el-row>
        <el-row class="subtitle">
          <el-label>Reddit</el-label>
          <a href="https://www.reddit.com/r/chargelimiter" class="right noclick">https://www.reddit.com/r/chargelimiter</a>
        </el-row>
        <el-row class="subtitle">
          <el-label>QQ群</el-label>
          <el-label class="right">754802907</el-label>
        </el-row>
        <el-row class="subtitle">
          <el-label>Telegram</el-label>
          <a class="right noclick subtitle">https://t.me/chargelimiter</a>
        </el-row>
        <el-row class="subtitle">
          <el-label>Email</el-label>
          <a href="mailto:571652571@qq.com" class="right">571652571@qq.com</a>
        </el-row>
      </el-row>
      <div class="py-5"></div>
    </div>
  </div>
</body>
</html>

